.pageHeader {
  position: relative;
  background-color: #010c22;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
  gap: 10px;
}
.pageHeader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #010c22;
  opacity: 0.5;
  z-index: 0;
}
.pageHeader img {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
}

.title {
  color: white;
  font-weight: 500;
  font-size: 35px;
  z-index: 1;
}

.path {
  background-color: rgba(255, 255, 255, 0.788);
  padding: 20px;
  border-left: #09aff4 solid 6px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  z-index: 1;
}

.path span {
  font-weight: 600;
}
